.footer {
    width: 100%;
    padding: 5rem 0;
    background-color: rgb(19, 19, 19, 0.8);
}

.footer-container {
    display: flex;
}

.left {
    width: 50%;
    text-align: left;
    margin-left: 5rem;
    border-right: 0.5px solid #fff;
}

.location {
    display: flex;
    padding: 0.7rem 0;
}

.phone {
    display: flex;
    padding-bottom: 0.8rem;
}

.email {
    display: flex;
}

.right {
    margin-left: 5rem;
}

.right h4 {
    font-size: 1.4rem;
}

.right p {
    font-size: 1rem;
    padding-top: 0.4rem;
}

.social {
    padding-top: 1rem;
}

@media screen and (max-width: 640px) {
    .footer-container {
        flex-direction: column;
        overflow: hidden;
    }

    .left {
        width: 100%;
        margin-left: 1rem;
    }

    .right {
        margin-top: 2rem;
        margin-left: 1rem;
    }
}
